svg.graph {
	width: 800px;
	height: 500px;
}

svg.graph .grid {
  stroke: #4D4845;
  stroke-dasharray: 1 2;
  stroke-width: 1;
}

svg.graph .labels {
  font-family: Arial;
  font-size: 14px;
  kerning: 1;
}

svg.graph .labels.x-labels {
  text-anchor: middle;
}

svg.graph .labels.y-labels {
  text-anchor: end;
}

svg.graph .points {
  stroke: white;
  stroke-width: 3;
}

svg.graph .first_set {
  fill: #00554d;
}

svg.graph .lines {
  fill: none;
  stroke: #00554D;
}