svg.weather_graph {
	width: 600px;
	height: 400px;
  float: right;
  background-color: black;
}

.axis path, .axis line {
  fill: none;
  stroke: #4D4845;
  stroke-dasharray: 1 2;
  stroke-width: 1;
}

svg.weather_graph .labels {
  font-family: Arial;
  font-size: 14px;
  kerning: 1;
}

svg.weather_graph .labels.x-labels {
  text-anchor: middle;
}

svg.weather_graph .labels.y-labels {
  text-anchor: end;
}

svg.weather_graph .points {
  stroke: white;
  stroke-width: 3;
}

svg.weather_graph .first_set {
  fill: #00554d;
}

svg.weather_graph .lines {
  fill: none;
  stroke: #00554D;
}