html, body{width: 100%; height: 100%;}
body,p,textarea,ol,ul,li,h1,h2,h3,h4{margin: 0; padding: 0;}
body,h1,h2,h3,h4,input,button,a{font-family:'Nanum Gothic',Arial,sans-serif;color:#555555;}
a{text-decoration:none}
ul, ol, li{list-style: none;}
html, body{overflow: auto;}

@font-face {
    font-family: 'MeteoconsRegular';
    src: url('icon/meteocons-webfont.eot');
    src: url('icon/meteocons-webfont.eot?#iefix') format('embedded-opentype'),
         url('icon/meteocons-webfont.woff') format('woff'),
         url('icon/meteocons-webfont.ttf') format('truetype'),
         url('icon/meteocons-webfont.svg#MeteoconsRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

header {
	height: 60px;
	line-height: 60px;
	background-color: #ddd;
}

.title {
	float: left;
	margin-left: 20px;
}

nav {
	float: right;
	margin-right: 20px;
}

#wrap_main {
	width: 900px;
	margin: 0 auto;
}

main {
	1height: calc(100% - 200px);
	background-image: url("./image/bg_sky_a07.jpg");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	padding: 50px;
}

.weather_box {
	overflow: hidden;
}

.time {
	margin-bottom: 20px;
}

.weather_detail {
	float: left;
}

.weather_detail .icon:before {
	font-family: 'MeteoconsRegular';
	content: attr(data-icon);
	font-size: 200px;
	color: rgba(255, 255, 255, 0.7);

}

.weather_detail .info {
	text-align: right;
	font-size: large;
}

form {
	clear: both;
	height: 200px;
	background-color: #ddd;
	margin-top: 20px;
}

.form .sky input {
	visibility: hidden;
	position: absolute;
}

.form .sky .icon:before {
	font-family: 'MeteoconsRegular';
	content: attr(data-icon);
	font-size: 30px;
}

.form .sky input + .icon:before {
	background-color: #bbb;
	border-radius: 40px;
	padding: 10px;
}


.form .sky input:checked + .icon:before {
	background-color: goldenrod;
}

input[type=range] {
    -webkit-appearance: none;
    width: 500px;
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    height: 5px;
    border: none;
    /*왜 안먹지?*/
    border-radius: 20px;
    background: #fff;
    
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: goldenrod;
    margin-top: -4px;
}


/*input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}*/


footer {

	height: 140px;
}

@media (min-width: 1100px) {
	#wrap_header {
		width: 1100px;
		margin: 0 auto;
	}
}

