svg.weather_graph {
	width: 600px;
	height: 400px;
  float: right;
  background-color: rgba(255,255,255,0.2);
}

.axis path, .axis line {
  fill: none;
  stroke: #4D4845;
  stroke-dasharray: 1 2;
  stroke-width: 1;
}

svg.weather_graph .labels {
  kerning: 1;
}

svg.weather_graph .labels.x-labels {
  text-anchor: middle;
}

svg.weather_graph .labels.y-labels {
  text-anchor: end;
}

.axis text {
  font-family: sans-serif;
  font-size: 11px;
}

svg.weather_graph .icon {
  font-family: 'MeteoconsRegular';
  content: attr(data-icon);
  font-size: 30px;
  fill: #444;
}

svg.weather_graph .first_set {
  fill: #00554d;
}

svg.weather_graph .lines {
  fill: none;
  stroke: goldenrod;
}

svg.weather_graph .around {
  r: 20;
  fill: #aaa;
}

.around:first-child, svg.weather_graph .icon:first-child {
  visibility: hidden;
}